.poll-page {
  
  .col {
    width: 25%;
    display: inline-block;
    text-align: center;
    background-color: #f4f4f4;
    vertical-align: top;
    
    button {
      width: 50px;
      height: 50px;
      background-image: url('/images/icons/vote-btn-icon.png');
      background-size: 100%;
      border-radius: 25px;
    }
    
  }

  .col-first {}

  .col-second {
    text-align: center;
    width: 15%;
  }

  .col-third {}

  h2 {

  }

  p {
  }

}
