// bower:scss
// endbower

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

@import 'add_scenario';
@import 'poll';

/*$blue : #069cfb;*/
$blue: #00ff00;
$black: #ddd;
$white: #202020;
$font-size: 26px;
$small-font-size: 20px;

@font-face {
	font-family: 'icomoon';
	src:url('../fonts/icomoon.eot?l5ockb');
	src:url('../fonts/icomoon.eot?#iefixl5ockb') format('embedded-opentype'),
		url('../fonts/icomoon.woff?l5ockb') format('woff'),
		url('../fonts/icomoon.ttf?l5ockb') format('truetype'),
		url('../fonts/icomoon.svg?l5ockb#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
    font-family: 'Lato';
    src: url('../fonts/lato-regular-webfont.eot');
    src: url('../fonts/lato-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/lato-regular-webfont.woff') format('woff'),
         url('../fonts/lato-regular-webfont.ttf') format('truetype'),
         url('../fonts/lato-regular-webfont.svg#latoregular') format('svg');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'Lato';
    src: url('../fonts/lato-bold-webfont.eot');
    src: url('../fonts/lato-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/lato-bold-webfont.woff') format('woff'),
         url('../fonts/lato-bold-webfont.ttf') format('truetype'),
         url('../fonts/lato-bold-webfont.svg#latobold') format('svg');
    font-weight: 700;
    font-style: normal;

}
@font-face {
    font-family: 'Lato';
    src: url('../fonts/lato-light-webfont.eot');
    src: url('../fonts/lato-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/lato-light-webfont.woff') format('woff'),
         url('../fonts/lato-light-webfont.ttf') format('truetype'),
         url('../fonts/lato-light-webfont.svg#latolight') format('svg');
    font-weight: 300;
    font-style: normal;

}
@font-face {
    font-family: 'Lato';
    src: url('../fonts/lato-black-webfont.eot');
    src: url('../fonts/lato-black-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/lato-black-webfont.woff') format('woff'),
         url('../fonts/lato-black-webfont.ttf') format('truetype'),
         url('../fonts/lato-black-webfont.svg#latoblack') format('svg');
    font-weight: 900;
    font-style: normal;

}
@font-face {
    font-family: 'Open Sans Condensed';
    src: url('../fonts/opensans-condbold-webfont.eot');
    src: url('../fonts/opensans-condbold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/opensans-condbold-webfont.woff') format('woff'),
         url('../fonts/opensans-condbold-webfont.ttf') format('truetype'),
         url('../fonts/opensans-condbold-webfont.svg#open_sans_condensedbold') format('svg');
    font-weight: 700;
    font-style: normal;

}
@font-face {
    font-family: 'Open Sans Condensed';
    src: url('../fonts/opensans-condlight-webfont.eot');
    src: url('../fonts/opensans-condlight-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/opensans-condlight-webfont.woff') format('woff'),
         url('../fonts/opensans-condlight-webfont.ttf') format('truetype'),
         url('../fonts/opensans-condlight-webfont.svg#open_sanscondensed_light') format('svg');
    font-weight: 300;
    font-style: normal;

}
@mixin icomoon($content) {
	content: $content;
  	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

@mixin transition($content) {
	-webkit-transition: $content;
	-o-transition: $content;
	transition: $content;
}

.thumbs { 
    display: none;
    position: fixed; 
    top: 0pt; 
    left: 0pt; 
    overflow: hidden; 
    width: 120%; 
    height: 100%; 
    z-index: 0;
    img { 
        padding: 0pt; 
        display: none;
        display: block;
        float: left;
        width: 100%;
        height: 100%;
    }
    &>div {
        position: relative; 
        opacity: 1; 
        display: block;
        float: left;
        width: 180px;
        height: 180px;
        i{
            background-color: transparent;
            background-image: url(../images/hover.png);
            background-repeat: no-repeat;
            background-position: center center;
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
            overflow: hidden;
        }
    }
}
    
body {
	font-family: 'Lato', sans-serif;
	margin: 0;
	padding: 0;
    background-color: $white;
}
input,
textarea {
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    font-weight: 600;
    line-height: 20px;
    border: dotted 1px rgba($blue, 0.6);
    width: 100%;
    padding: 2px 10px;
    background-color: $white;
    color: $black;
    box-sizing: border-box;
    margin-top: 6px;
}
input {
    display: inline-block;
    width: 200px !important;
    padding: 10px;
}
canvas {
    position: absolute;
    z-index: -1;
    top: 0; 
    margin: auto;
    display: none;
    width: 100%;
    height: 100%
}
canvas#yourCanvas {
    z-index: 0;
}
button{
    cursor: pointer;
    float: right;   
    padding: 0 10px;
    height: 50px;
    line-height: 50px;
    border: none;
    background-color: $blue;
    color: $white;
    font-size: 24px;
    font-weight: 900;
    box-sizing: border-box;
    &:hover,
    &:active{
        background-color: $white;
        color: $blue;
        border: solid 1px $blue;

    }

}
.button {
    display: inline-block;
    float: right;   
    padding: 5px 3px;
    color: $blue;
    border-bottom: dotted 1px rgba($blue, 0.6);
}
p {
    margin: 0;
    padding: 0;
}
a {
	text-decoration: none;
}
ul, li {
	list-style:none;
	padding: 0;
	margin: 0;
}
.clear {
    clear: both;    
}
h1, h2, h3, h4 {
	padding: 0;
	margin: 0;
    color: $black;
}
h1 {
	font-family: 'Open Sans Condensed', sans-serif;
	font-weight: 300;
	font-size: 36px;
	line-height: 48px;
	span {
		color: rgba($black, 0.5);
		font-weight: 300;
		font-size: 24px;
		display: inline-block;
		padding-left: 5px;
		line-height: 1;
	}
}
h2 {
	font-weight: 900;
	font-size: $font-size;
	color: $black;
	line-height: 60px;
}
h3 {
	position: relative;
	display: block;
	font-size: $font-size;
	line-height: 36px;
	font-weight: 900;
	color: $blue;
	padding: 5px 10px;
	border: dotted 1px rgba($blue, 0.6);
	cursor: pointer;
	/*@include transition(all 0.5s ease);*/
	&:hover,
	&:active {
		background-color: rgba($blue, 0.8);
		color: $white;
		&::before {
			@include icomoon('\f101');
			position: absolute;
			font-size: 40px;
			right: 0;
			bottom: 2px;
		}
	}

}
h4 {
	font-family: 'Open Sans Condensed', sans-serif;
	font-weight: 700;
	font-size: 24px;
    line-height: 30px;
	span {
		color: $blue;
	}
}
label {
    color: $black !important;
    font-family: 'Open Sans Condensed', sans-serif;
    font-weight: 700;
    font-size: 24px;
    display: inline-block;
}
.container {
	position: absolute;
	width: 100%;
	min-height: 444px;
    height: 100%;
	overflow: hidden;
	padding: 15px;
	box-sizing: border-box;
	.card-wrapper {
		width: 100%;
		height: 100%;
		position: relative;
		.card {
			position: absolute;
            background: url('i/vma2.png') no-repeat $white center bottom;
            background-size: cover;
			top: 0;
			left: 0;
			height: 100%;
			width: 100%;
			padding: 15px;
			box-sizing: border-box;
			border-top: solid 5px $blue;
			background-color: $white;
			box-shadow: 0px 3px 5px rgba(0,0,0,0.9);
            @include transition(all 0s ease);
			-webkit-transform-origin: 50% 350%;
			-moz-transform-origin: 50% 350%;
			-ms-transform-origin: 50% 350%;
			-o-transform-origin: 50% 350%;
			transform-origin: 50% 350%;
			&.exit {
				-webkit-transform: rotate(180deg);
				-ms-transform: rotate(90deg);
				-o-transform: rotate(90deg);
				transform: rotate(90deg);
                @include transition(all 1s ease);
			}
			.third {
				font-size: $font-size;
				font-weight: 900;
				color: $black;
                float: right;
                margin-bottom: 10px;
                margin-top: 10px;
				strong {
					display: block;
					float: left;
					line-height: 56px;
					padding: 5px 0;
				}
				span {
					color: $blue;
					display: block;
					float: right;
					border-bottom: dotted 1px rgba($blue, 1);
					padding: 5px 10px;
					margin-left: 10px;
					width: 220px;
                    font-size: 20px;
					text-align: center;
					cursor: pointer;
					/*@include transition(all 0.5s ease);*/
					&::before{
						content: 'just disappear forever';
						line-height: 56px;
						height: 56px;
					}
					&:hover,
					&:active {
						background-color: rgba($blue, 0.8);
						color: $white;
						content: '';
						&::before {
							/*@include icomoon('\e6a7');*/
							@include icomoon('\eb51');
							font-size: 50px;
							line-height: 56px;
							height: 56px;
						}
					}
				}
			}
			&:nth-child(1) {
				top: 0px;
				z-index: 3;
			}
			&:nth-child(2) {
				top: 4px;
				z-index: 2;
			}
			&:nth-child(3) {
				top: 8px;
				z-index: 1;
			}
		}
	}
}
.result-wrapper {
	width: 100%;
    min-height: 444px;
    height: 100%;
	position: absolute;
	box-sizing: border-box;
	overflow: hidden;
	z-index: 9999;
	top: 0px;
	left: 0px;
	background-color: $white;
	border: solid 10px $white;

	@include transition(all 0.5s ease);
	-webkit-transform: translateY(-100%);
	-ms-transform: translateY(-100%);
	-o-transform: translateY(-100%);
	transform: translateY(-100%);
	&.active {
		-webkit-transition-delay: 0.3s; 
    	transition-delay: 0.3s;

		-webkit-transform: translateY(0);
		-ms-transform: translateY(0);
		-o-transform: translateY(0);
		transform: translateY(0);
	}
	&>h1 {
		border-top: solid 4px $blue;
		font-size: 30px;
		line-height: 36px;
		padding-top: 8px;
        text-align: center;
	}
    .share-content {
        position: relative;
        &::before {
            position: absolute;
            z-index: 9;
            top: -12px;
            left: 20px;
            background-color: $white;
            line-height: 20px;

            @include icomoon('\e804');
            width: 32px;
            text-align: center;
            display: block;
            color: $blue;
            font-size: 24px;
        }

    }
	h4 {
		margin-top: 10px;
		border: dotted 1px rgba($blue, 0.6);
		padding: 10px;
		text-align: left;
		position: relative;
        overflow-y: auto;
        height: 120px;
		strong {
			display: none;
			font-family: 'Open Sans Condensed', sans-serif;
			font-size: 48px;
			font-weight: 300;
			color: rgba($black, 0.4);
			padding-right: 2px;
			border: dotted 1px rgba($black, 0.3);
			line-height: 48px;
			margin-top: 4px;
			i {
				font-family: 'Lato', sans-serif;
				font-size: 24px;
				font-weight: 400;
				font-style: normal;
				line-height: 1;
			}
		}
		
	}
	.share-box {
		padding: 10px 0;
		text-align: center;
		&>a,
        &>div {
			position: relative;
			display: inline-block;
			width: 50%;
			height: 50px;
			line-height: 48px;
			background-color: $blue;
			color: $white;
			margin-bottom: 10px;
			text-align: center;
			box-sizing: border-box;
			font-size: 24px;
			&::before{
				position: absolute;
				display: block;
				left: 0;
				top: 0;
				line-height: 48px;
				width: 50px;
				text-align: center;
			}

			&.facebook {
				background-color: #3b5998;
				&::before{
					@include icomoon('\ea70');
				}
			}
			&.twitter {
				background-color: #55acee;
				&::before{
					@include icomoon('\ea74');
				}
                &:hover,
                &:active {
                    background-color: $blue;
                    color: $white !important;
                    &::before{
                        color: $white;
                    }
                }
			}
			&.next {
				background-color: $white;
				color: $black;
                top: 1px;
				border: solid 1px $blue;
                box-sizing: border-box;
                cursor: pointer;
				&::before{
					@include icomoon('\ea2b');
					color: $blue;
                    line-height: 48px;
				}
                &:hover,
                &:active {
                    background-color: $blue;
                    color: $white !important;
                    &::before{
                        color: $white;
                    }
                }

			}
		}

	}
	ul {
		border-top: dotted 1px rgba($blue, 0.7);
		margin-top: 10px;
		display: table;
		width: 100%;
		li {
			display: table-row;
			width: 100%;
			box-sizing: border-box;
			h1 {
				display: table-cell;
				border-bottom: dotted 1px rgba($blue, 0.7);
				width: 32%;
				text-align: right;
				position: relative;
				color: $blue;
			}
			&>div {
				display: table-cell;
                text-align: left;
				border-bottom: dotted 1px rgba($blue, 0.7);
				width: 68%;
				vertical-align: middle;
				font-weight: 600;
				font-size: 18px;
				line-height: 22px;
				padding: 0 5px 0 10px;		
				span {
					font-weight: 900;
                    color: $black;
				}
			}
			&.user-option h1::before {
				@include icomoon('\eba5');
				/*@include icomoon('\ec03');*/
				position: absolute;
				left: 0;
				top: 0;
				font-size: 22px;
			}
		}
	}
}

@media only screen 
and (min-width : 900px) {
    body {
        overflow-y: hidden;
    }
    h1 {
        padding-bottom: 10px;
    }
    canvas {
        display: block;
    }
    .thumbs {
        display: block;
    }
    .container {
        width: 900px;
        margin: 40px auto;
        position: relative;
        height: auto;
        overflow: inherit;
        .card-wrapper {
            .card {
                min-height: 500px;
                padding: 15px 45px;
                height: auto;
                box-sizing: border-box;
                text-align: center;
                
                h2.would {
                    height: 100px;
                    line-height: 100px;
                }
                .option-wrapper {
                	display: table;
                	width: 100%;
                    margin-top: 10px;
                    h3{
                        display: table-cell;
                        width: 42%;
                        padding: 20px;
                        margin-bottom: 10px;
                    }
                    h2.or {
                        display: table-cell;
                        padding: 16px;
                        text-align: center;
                        vertical-align: middle;
                    }
                }
                .form-wrapper {
                    .h3, h2 {
                        display: inline-block;
                    }
                    .h3 {
                        width: 340px;
                        padding: 20px;
                        box-sizing: border-box;
                    }
                    h2 {
                        width: 80px;
                        box-sizing: border-box;
                        text-align: center;
                    }
                }
                
                .third {
                	margin-top: 30px;
                    margin-bottom: 20px;
                }
            }
        }
    }
    .result-wrapper {
        .result-card-outline {
            width: 900px;
            border: solid 1px $blue;
            padding: 30px 100px;
            box-sizing: border-box;
            margin: 40px auto 0 auto;
            h2 {
                text-align: center;
            }
        }
    }
}
