$blue : #069cfb;
$black: #101010;
$white: #ffffff;
$font-size: 26px;
$small-font-size: 20px;

@font-face {
	font-family: 'icomoon';
	src:url('../fonts/icomoon.eot?l5ockb');
	src:url('../fonts/icomoon.eot?#iefixl5ockb') format('embedded-opentype'),
		url('../fonts/icomoon.woff?l5ockb') format('woff'),
		url('../fonts/icomoon.ttf?l5ockb') format('truetype'),
		url('../fonts/icomoon.svg?l5ockb#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

@mixin icomoon($content) {
	content: $content;
  	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

@mixin transition($content) {
	-webkit-transition: $content;
	-o-transition: $content;
	transition: $content;
}

body {
	font-family: 'Lato', sans-serif;
	margin: 0;
	padding: 0;
}
a {
	text-decoration: none;
}
ul, li {
	list-style:none;
	padding: 0;
	margin: 0;
}
h1, h2, h3, h4 {
	padding: 0;
	margin: 0;
}
h1 {
	font-family: 'Open Sans Condensed', sans-serif;
	font-weight: 300;
	font-size: 48px;
	line-height: 72px;
	span {
		color: rgba($black, 0.5);
		font-weight: 300;
		font-size: 30px;
		display: inline-block;
		padding-left: 5px;
		line-height: 1;
	}
}
h2 {
	font-weight: 900;
	font-size: $font-size;
	color: $black;
	line-height: 60px;
}
h3 {
	position: relative;
	display: block;
	font-size: $font-size;
	line-height: 36px;
	font-weight: 900;
	color: $blue;
	padding: 5px 10px;
	border: dotted 1px rgba($blue, 0.6);
	cursor: pointer;
	/*@include transition(all 0.5s ease);*/
	&:hover,
	&:active {
		background-color: rgba($blue, 0.8);
		color: $white;
		&::before {
			@include icomoon('\f101');
			position: absolute;
			font-size: 40px;
			right: 0;
			bottom: 2px;
		}
	}

}
.container {
	position: absolute;
	width: 100%;
	height: 444px;
	overflow: hidden;
	padding: 15px;
	box-sizing: border-box;
	.card-wrapper {
		width: 100%;
		height: 100%;
		position: relative;
		.card {
			position: absolute;
			top: 0;
			left: 0;
			height: 100%;
			width: 100%;
			padding: 15px;
			box-sizing: border-box;
			border-top: solid 5px $blue;
			background-color: #ffffff;
			box-shadow: 0px 2px 4px rgba(0,0,0,0.4);
			@include transition(all 1s ease);
			-webkit-transform-origin: 50% 350%;
			-moz-transform-origin: 50% 350%;
			-ms-transform-origin: 50% 350%;
			-o-transform-origin: 50% 350%;
			transform-origin: 50% 350%;
			&.exit {
				-webkit-transform: rotate(90deg);
				-ms-transform: rotate(90deg);
				-o-transform: rotate(90deg);
				transform: rotate(90deg);
			}
			.third {
				position: absolute;
				bottom: 30px;
				right: 15px;
				font-size: $font-size;
				font-weight: 900;
				color: $black;
				strong {
					display: block;
					float: left;
					line-height: 56px;
					padding: 5px 0;
				}
				span {
					color: $blue;
					display: block;
					float: right;
					border-bottom: dotted 1px rgba($blue, 1);
					padding: 5px 10px;
					margin-left: 10px;
					width: 175px;
					text-align: center;
					cursor: pointer;
					/*@include transition(all 0.5s ease);*/
					&::before{
						content: 'just kill myself';
						line-height: 56px;
						height: 56px;
					}
					&:hover,
					&:active {
						background-color: rgba($blue, 0.8);
						color: $white;
						content: '';
						&::before {
							/*@include icomoon('\e6a7');*/
							@include icomoon('\eb51');
							font-size: 50px;
							line-height: 56px;
							height: 56px;
						}
					}
				}
			}
			&:nth-child(1) {
				top: 0px;
				z-index: 3;
			}
			&:nth-child(2) {
				top: 4px;
				z-index: 2;
			}
			&:nth-child(3) {
				top: 8px;
				z-index: 1;
			}
		}
	}
}
.result-wrapper {
	width: 100%;
	height: 444px;
	position: absolute;
	box-sizing: border-box;
	overflow: hidden;
	z-index: 9999;
	top: 0px;
	left: 0px;
	background-color: $white;
	border: solid 10px $white;

	@include transition(all 0.5s ease);
	-webkit-transform: translateY(-100%);
	-ms-transform: translateY(-100%);
	-o-transform: translateY(-100%);
	transform: translateY(-100%);
	&.active {
		-webkit-transition-delay: 0.5s; 
    	transition-delay: 0.5s;

		-webkit-transform: translateY(0);
		-ms-transform: translateY(0);
		-o-transform: translateY(0);
		transform: translateY(0);
	}
	&>h1 {
		border-top: solid 4px $blue;
		font-size: 30px;
		line-height: 36px;
		padding-top: 8px;
	}
	.share-box {
		padding: 10px 0;
		text-align: center;
		a {
			position: relative;
			display: inline-block;
			width: 50%;
			height: 50px;
			line-height: 50px;
			background-color: $blue;
			color: $white;
			margin-bottom: 10px;
			text-align: center;
			box-sizing: border-box;
			font-size: 24px;
			&::before{
				position: absolute;
				display: block;
				left: 0;
				top: 0;
				line-height: 50px;
				width: 50px;
				text-align: center;
			}

			&.facebook {
				background-color: #3b5998;
				&::before{
					@include icomoon('\ea70');
				}
			}
			&.twitter {
				background-color: #55acee;
				&::before{
					@include icomoon('\ea74');
				}
			}
			&.next {
				background-color: $white;
				color: $black;
				border: solid 1px $blue;
				width: 100%;
				&::before{
					@include icomoon('\ea2b');
					color: $blue;
				}
			}
		}

	}
	ul {
		border-top: dotted 1px rgba($blue, 0.7);
		margin-top: 10px;
		display: table;
		width: 100%;
		li {
			display: table-row;
			width: 100%;
			box-sizing: border-box;
			h1 {
				display: table-cell;
				border-bottom: dotted 1px rgba($blue, 0.7);
				width: 32%;
				text-align: right;
				position: relative;
				color: $blue;
			}
			&>div {
				display: table-cell;
				border-bottom: dotted 1px rgba($blue, 0.7);
				width: 68%;
				vertical-align: middle;
				font-weight: 600;
				font-size: 16px;
				line-height: 22px;
				padding: 0 5px 0 10px;		
				span {
					color: $blue;
					font-weight: 900;
				}
			}
			&.user-option h1::before {
				@include icomoon('\eba5');
				/*@include icomoon('\ec03');*/
				position: absolute;
				left: 0;
				top: 0;
				font-size: 22px;
			}
		}
	}
}