@font-face {
  font-family: 'icomoon';
  src: url("../fonts/icomoon.eot?l5ockb");
  src: url("../fonts/icomoon.eot?#iefixl5ockb") format("embedded-opentype"), url("../fonts/icomoon.woff?l5ockb") format("woff"), url("../fonts/icomoon.ttf?l5ockb") format("truetype"), url("../fonts/icomoon.svg?l5ockb#icomoon") format("svg");
  font-weight: normal;
  font-style: normal; }
body {
  font-family: 'Lato', sans-serif;
  margin: 0;
  padding: 0; }

a {
  text-decoration: none; }

ul, li {
  list-style: none;
  padding: 0;
  margin: 0; }

h1, h2, h3, h4 {
  padding: 0;
  margin: 0; }

h1 {
  font-family: 'Open Sans Condensed', sans-serif;
  font-weight: 300;
  font-size: 48px;
  line-height: 72px; }
  h1 span {
    color: rgba(16, 16, 16, 0.5);
    font-weight: 300;
    font-size: 30px;
    display: inline-block;
    padding-left: 5px;
    line-height: 1; }

h2 {
  font-weight: 900;
  font-size: 26px;
  color: #101010;
  line-height: 60px; }

h3 {
  position: relative;
  display: block;
  font-size: 26px;
  line-height: 36px;
  font-weight: 900;
  color: #069cfb;
  padding: 5px 10px;
  border: dotted 1px rgba(6, 156, 251, 0.6);
  cursor: pointer;
  /*@include transition(all 0.5s ease);*/ }
  h3:hover, h3:active {
    background-color: rgba(6, 156, 251, 0.8);
    color: white; }
    h3:hover::before, h3:active::before {
      content: "\f101";
      font-family: 'icomoon';
      speak: none;
      font-style: normal;
      font-weight: normal;
      font-variant: normal;
      text-transform: none;
      /* Better Font Rendering =========== */
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
      position: absolute;
      font-size: 40px;
      right: 0;
      bottom: 2px; }

.container {
  position: absolute;
  width: 100%;
  height: 444px;
  overflow: hidden;
  padding: 15px;
  box-sizing: border-box; }
  .container .card-wrapper {
    width: 100%;
    height: 100%;
    position: relative; }
    .container .card-wrapper .card {
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      padding: 15px;
      box-sizing: border-box;
      border-top: solid 5px #069cfb;
      background-color: #ffffff;
      box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.4);
      -webkit-transition: all 1s ease;
      -o-transition: all 1s ease;
      transition: all 1s ease;
      -webkit-transform-origin: 50% 350%;
      -moz-transform-origin: 50% 350%;
      -ms-transform-origin: 50% 350%;
      -o-transform-origin: 50% 350%;
      transform-origin: 50% 350%; }
      .container .card-wrapper .card.exit {
        -webkit-transform: rotate(90deg);
        -ms-transform: rotate(90deg);
        -o-transform: rotate(90deg);
        transform: rotate(90deg); }
      .container .card-wrapper .card .third {
        position: absolute;
        bottom: 30px;
        right: 15px;
        font-size: 26px;
        font-weight: 900;
        color: #101010; }
        .container .card-wrapper .card .third strong {
          display: block;
          float: left;
          line-height: 56px;
          padding: 5px 0; }
        .container .card-wrapper .card .third span {
          color: #069cfb;
          display: block;
          float: right;
          border-bottom: dotted 1px #069cfb;
          padding: 5px 10px;
          margin-left: 10px;
          width: 175px;
          text-align: center;
          cursor: pointer;
          /*@include transition(all 0.5s ease);*/ }
          .container .card-wrapper .card .third span::before {
            content: 'just kill myself';
            line-height: 56px;
            height: 56px; }
          .container .card-wrapper .card .third span:hover, .container .card-wrapper .card .third span:active {
            background-color: rgba(6, 156, 251, 0.8);
            color: white;
            content: ''; }
            .container .card-wrapper .card .third span:hover::before, .container .card-wrapper .card .third span:active::before {
              /*@include icomoon('\e6a7');*/
              content: "\eb51";
              font-family: 'icomoon';
              speak: none;
              font-style: normal;
              font-weight: normal;
              font-variant: normal;
              text-transform: none;
              /* Better Font Rendering =========== */
              -webkit-font-smoothing: antialiased;
              -moz-osx-font-smoothing: grayscale;
              font-size: 50px;
              line-height: 56px;
              height: 56px; }
      .container .card-wrapper .card:nth-child(1) {
        top: 0px;
        z-index: 3; }
      .container .card-wrapper .card:nth-child(2) {
        top: 4px;
        z-index: 2; }
      .container .card-wrapper .card:nth-child(3) {
        top: 8px;
        z-index: 1; }

.result-wrapper {
  width: 100%;
  height: 444px;
  position: absolute;
  box-sizing: border-box;
  overflow: hidden;
  z-index: 9999;
  top: 0px;
  left: 0px;
  background-color: white;
  border: solid 10px white;
  -webkit-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
  -webkit-transform: translateY(-100%);
  -ms-transform: translateY(-100%);
  -o-transform: translateY(-100%);
  transform: translateY(-100%); }
  .result-wrapper.active {
    -webkit-transition-delay: 0.5s;
    transition-delay: 0.5s;
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0); }
  .result-wrapper > h1 {
    border-top: solid 4px #069cfb;
    font-size: 30px;
    line-height: 36px;
    padding-top: 8px; }
  .result-wrapper .share-box {
    padding: 10px 0;
    text-align: center; }
    .result-wrapper .share-box a {
      position: relative;
      display: inline-block;
      width: 50%;
      height: 50px;
      line-height: 50px;
      background-color: #069cfb;
      color: white;
      margin-bottom: 10px;
      text-align: center;
      box-sizing: border-box;
      font-size: 24px; }
      .result-wrapper .share-box a::before {
        position: absolute;
        display: block;
        left: 0;
        top: 0;
        line-height: 50px;
        width: 50px;
        text-align: center; }
      .result-wrapper .share-box a.facebook {
        background-color: #3b5998; }
        .result-wrapper .share-box a.facebook::before {
          content: "\ea70";
          font-family: 'icomoon';
          speak: none;
          font-style: normal;
          font-weight: normal;
          font-variant: normal;
          text-transform: none;
          /* Better Font Rendering =========== */
          -webkit-font-smoothing: antialiased;
          -moz-osx-font-smoothing: grayscale; }
      .result-wrapper .share-box a.twitter {
        background-color: #55acee; }
        .result-wrapper .share-box a.twitter::before {
          content: "\ea74";
          font-family: 'icomoon';
          speak: none;
          font-style: normal;
          font-weight: normal;
          font-variant: normal;
          text-transform: none;
          /* Better Font Rendering =========== */
          -webkit-font-smoothing: antialiased;
          -moz-osx-font-smoothing: grayscale; }
      .result-wrapper .share-box a.next {
        background-color: white;
        color: #101010;
        border: solid 1px #069cfb;
        width: 100%; }
        .result-wrapper .share-box a.next::before {
          content: "\ea2b";
          font-family: 'icomoon';
          speak: none;
          font-style: normal;
          font-weight: normal;
          font-variant: normal;
          text-transform: none;
          /* Better Font Rendering =========== */
          -webkit-font-smoothing: antialiased;
          -moz-osx-font-smoothing: grayscale;
          color: #069cfb; }
  .result-wrapper ul {
    border-top: dotted 1px rgba(6, 156, 251, 0.7);
    margin-top: 10px;
    display: table;
    width: 100%; }
    .result-wrapper ul li {
      display: table-row;
      width: 100%;
      box-sizing: border-box; }
      .result-wrapper ul li h1 {
        display: table-cell;
        border-bottom: dotted 1px rgba(6, 156, 251, 0.7);
        width: 32%;
        text-align: right;
        position: relative;
        color: #069cfb; }
      .result-wrapper ul li > div {
        display: table-cell;
        border-bottom: dotted 1px rgba(6, 156, 251, 0.7);
        width: 68%;
        vertical-align: middle;
        font-weight: 600;
        font-size: 16px;
        line-height: 22px;
        padding: 0 5px 0 10px; }
        .result-wrapper ul li > div span {
          color: #069cfb;
          font-weight: 900; }
      .result-wrapper ul li.user-option h1::before {
        content: "\eba5";
        font-family: 'icomoon';
        speak: none;
        font-style: normal;
        font-weight: normal;
        font-variant: normal;
        text-transform: none;
        /* Better Font Rendering =========== */
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        /*@include icomoon('\ec03');*/
        position: absolute;
        left: 0;
        top: 0;
        font-size: 22px; }
