<div class="new-scenario-form" ng-controller="AddScenarioCtrl">

  <div class="container">
    <div class="card-wrapper">
      <div class="card">
  
        <h1>Add a Scenario</h1>
        <label>User Name: <input class="name" type="text" id="authorName" ng-model="newScene.author" name="authorName" placeholder="Type a User Name"></label>

        <h2 class="would">Would you rather</h2>
        <div class="form-wrapper">

          <textarea class="h3" cols="30" rows="3" class="scene-field" id="sceneATextField" ng-model="newScene.sceneA" name="newSceneA" placeholder="First Scenario" required></textarea>
          <h2 class="or">or</h2>
          <textarea class="h3" cols="30" rows="3" class="scene-field" id="sceneBTextField" ng-model="newScene.sceneB" name="newSceneB" placeholder="Second Scenario" required></textarea>

        </div>

        <p class="warning">{{errorMsg}}</p>
  
        <div class="third">
          <button type="submit" class="submit-btn" ng-click="addScenario()">Submit</button>
        </div>
      </div>
    </div>
  </div>

</div>
