<div class="poll-page" ng-controller="PollCtrl">
  <div class="container">
    <div class="card-wrapper">
      <div class="card">
        <h2 class="would">Would you rather</h2>
        <div class="option-wrapper"><h3 ng-click="makeSelection('accA')">{{poll.sceneA}}</h3><h2 class="or">or</h2><h3 ng-click="makeSelection('accB')">{{poll.sceneB}}</h3></div>
  
        <div class="third">
          <strong>or</strong>
          <span ng-click="makeSelection('accKill')"  ></span>
        </div>
        <div class="clear"></div>
        <!-- <button ng-click="getRandomPoll()">Random</button> -->
        <a class="button" href="/#/add-scenario">Make your own</a>
      </div>

      <div class="card">
        <h2 class="would">Would you rather</h2>
        <div class="option-wrapper"><h3 ng-click="makeSelection('accA')">{{poll.sceneA}}</h3><h2 class="or">or</h2><h3 ng-click="makeSelection('accB')">{{poll.sceneB}}</h3></div>
  
        <div class="third">
          <strong>or</strong>
          <span ng-click="makeSelection('accKill')"  ></span>
        </div>
        <div class="clear"></div>
        <!-- <button ng-click="getRandomPoll()">Random</button> -->
        <a class="button" href="/#/add-scenario">Make your own</a>
      </div>
      
      <div class="card">
        <h2 class="would">Would you rather</h2>
        <div class="option-wrapper"><h3 ng-click="makeSelection('accA')">{{poll.sceneA}}</h3><h2 class="or">or</h2><h3 ng-click="makeSelection('accB')">{{poll.sceneB}}</h3></div>
  
        <div class="third">
          <strong>or</strong>
          <span ng-click="makeSelection('accKill')"  ></span>
        </div>
        <div class="clear"></div>
        <!-- <button ng-click="getRandomPoll()">Random</button> -->
        <a class="button" href="/#/add-scenario">Make your own</a>
      </div>
    </div>
  </div>
    
  <div class="result-wrapper">
  <div class="result-card-outline">
    <h1>Share</h1>
    <ng-switch on="orderRes">
    <div ng-switch-when="1" class="share-content">
      <h4>I would rather 
        <span>{{sharingObj.sceneResA}}</span> 
              than 
        <span>{{sharingObj.sceneResB}}</span> 
      </h4>
    </div>
    <div ng-switch-when="2" class="share-content">
      <h4>I would rather 
        <span>{{sharingObj.sceneResB}}</span> 
              than 
        <span>{{sharingObj.sceneResA}}</span> 
      </h4>
    </div>
    <div ng-switch-when="3" class="share-content">
      <h4>I would rather <span>disappear forever</span> than
        <span>{{sharingObj.sceneResB}}</span> 
              or 
        <span>{{sharingObj.sceneResA}}</span> 
      </h4>
    </div>
    </ng-switch>
  
    <ul>
      <li>
        <h1>{{accA*100/(accA + accB + accKill) | number : 0 }}<span>%</span></h1>
        <div>
          <span>{{sharingObj.sceneResA}}</span>
        </div>
      </li>
      <li>
        <h1>{{accB*100/(accA + accB + accKill) | number : 0 }}<span>%</span></h1>
        <div>
          <span>{{sharingObj.sceneResB}}</span>
        </div>
      </li>
      <li>
        <h1>{{accKill*100/(accA + accB + accKill) | number : 0 }}<span>%</span></h1>
        <div>
          <span>disappear forever</span>
        </div>
      </li>
    </ul>

    <div class="share-box">
      <a href="https://twitter.com/share?text={{selectedText}}#VMA" class="twitter" target="_blank">Share</a><div class="next">Next</div>
    </div>

<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>

  </div>
  </div>
</div>
